@layer reset, base, utilities, components, layout, overrides;

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value:0deg;
}

@property --direction {
    syntax: '<number>';
    inherits: true;
    initial-value: 1;
}

@layer reset {
    *,
    ::before,
    ::after {
        box-sizing: border-box;
    }

    :where(:not(dialog)) {
        margin: 0;
    }

    :where(html) {
        -webkit-text-size-adjust: none;

        @media(prefers-reduced-motion: no-preference) {
            scroll-behavior: smooth;
        }
    }

    :where(body) {
        min-block-size: 100svb;
        -webkit-font-smoothing: antialiased;
    }
}

@layer base {
    html {
        --surface-1: oklch(95% 0.01 269);
        --surface-2: oklch(90% 0.02 269);
        --text-1: oklch(10% 0.05 61);
        --body: 400 1rem/1.5rem system-ui, sans-serif;
        --display: 400 3.562rem/4rem system-ui, sans-serif;
        --display-small: 400 2.25rem/2.75rem system-ui, sans-serif;
        --label: 500 0.875rem/1.25rem system-ui, sans-serif;
        --title: 400 1.375rem/1.75rem system-ui, sans-serif;
    }


    @media(prefers-color-scheme: dark) {
        html {
            --surface-1: oklch(20% 0.03 269);
            --surface-2: oklch(26% 0.04 269);
            --text-1: oklch(91% 0.03 61);
            --body: 400 1rem/1.5rem system-ui, sans-serif;
            --display: 400 3.562rem/4rem system-ui, sans-serif;
            --display-small: 400 2.25rem/2.75rem system-ui, sans-serif;
            --label: 500 0.875rem/1.25rem system-ui, sans-serif;
            --title: 400 1.375rem/1.75rem system-ui, sans-serif;
        }
    }


    body {
        background-color: var(--surface-1);
        color: var(--text-1);
        font: var(--body)
    }
}

@layer layout {
 .section {
    display:grid;
    max-inline-size: 100%;
    min-block-size: 100svb;
    overflow-x: clip;
    padding-block: 80px;
    place-items: center;
 }

 .section-wrapper {
    display: grid;
    place-items: center;
 }

 .header {
    display: grid;
    place-items: center;
    gap: 16px;
    z-index: 2;

    @media (width >=1024px) {
        grid-area: 1/1;
    }
 }

 .hgroup {
    display: grid;
    place-items: center;
    gap: 8px;
 }

 .headline {
    font: var(--display-small);

    @media (width>=1200px){
        font: var(--display);
    }
 }


 .section-link {
    color: var(--text-1);
    text-decoration: underline;
    font: var(--label);

    @media(width>=1024px){
        display: none;
    }
 }

 .cards {
    list-style: none;
    padding: 0;

    @media(width <1024px){
        display: grid;
        grid-auto-flow: column;
        gap: 32px;
        max-inline-size: 100%;
        overflow-x:auto;
        padding-block: 32px;
        padding-inline: 32px;
    }

    @media(width>=1024px){
        --avatar-opacity: 1;
        --avatar-img-scale: 1;
        --tooltip-visibility: hidden;
        --tooltip-opacity: 0;
        --animation-state: running;

        display: grid;
        grid-area: 1/1;
        min-block-size: 700px;
        place-items: center;

        &:has(.avatar-link-wrapper:is(:hover, :focus-visible, :active)){
            --animation-state: paused;
            --avatar-opacity: 0.4;
        }
    }
 }

 .card {
    padding: 0;

    @media(width>=1024px){
        --radius: min(620px, 40cqi);
        /* example case for the fifth card */
        --offset-per-child: calc(360deg / (var(--nth-siblings))) /* 60deg */
        --angle-offset: calc(var(--nth-child) * var(var(--offset-per-child))); /* 300deg */
        --inline-ratio: 1/1;
        --block-ratio:1/2;
        --direction: min(max(calc(cos(var(--angle) + var(--angle-offset)) * -100), -1), 1);
        grid-area: 1/1;
        translate: calc(cos(var(--angle) + var(--angle-offset)) * var(--radius) * var(--inline-ratio))
        calc(sin(var(--angle) + var(--angle-offset)) * var(--radius) * var(--block-ratio) * -1);

        animation: adjust-angle linear 40s infinite reverse var(--animation-state);
    }
 }

 @keyframes adjust-angle {
    to {
        --angle: 360deg;
    }
 }
}